#readOnlyInfo.modal.fade.text-center{"data-reveal" => true, "aria-labelledby" => 'modalTitle', "aria-hidden" => "true", role: "dialog"}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", data: {dismiss: 'modal'}} &#215;
        %h3#modalTitle.modal-title Read-only information
      .modal-body
        %img{src: "data:image/png;base64,#{Base64.encode64(@view_qr_code.to_s)}"}
        %h5= link_to "Link", customer_credit_items_url(@customer, view_token: @customer.view_token)
