- if @customers.any?
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Email
        %th.show-for-large-up Postal code
        %th Customer ID
        %th Balance
        %th.show-for-large-up
    %tbody
      = render partial: "customer_row", collection: @customers, as: :customer
  .text-center
    = will_paginate @customers
- else
  %h2 No customers yet
= link_to "Add Customer", {action: :new}, class: 'button small'
