- if @customers.any?
  %table
    %tr
      %th Name
      %th Email
      %th Postal code
      %th Customer ID
      %th Balance
      %th
    = render partial: "customer_row", collection: @customers, as: :customer
  = will_paginate @customers
- else
  %h2 No customers yet
= link_to "Add customer", action: :new
