.row
  .columns.large-12
    - if @categories.any?
      %ul.panel
        - @categories.each do |c|
          %li= c.name
    - else
      %h2 No categories yet
    = link_to "Add Category", {action: :new}, class: 'button small'
