%footer
  .panel
    .row
      .columns.large-6
        Copyright &copy; 2015 Bryan Alves. All rights reserved.
      .columns.large-6
        %ul.inline-list.right
          %li= link_to "Home", root_url
          %li= link_to "Github", 'https://www.github.com/bryanalves'

