%footer.footer
  .container
    .row
      .col-lg-6
        %p.text-muted
          Copyright &copy; 2015 Bryan Alves. All rights reserved.
      .col-lg-6
        %p.text-muted.pull-right
          = link_to "Home", root_url
          = link_to "Github", 'https://www.github.com/bryanalves'

