- flash.each do |name, msg|
  - if msg.is_a?(String)
    .row
      .columns.large-6.large-centered
        .alert-box.round{data: {alert: true}, class: name.to_s}
          %div= msg
          %a.close{href: "#"} &times;
